@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/arial/arial-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial Italic";
  src: url("../fonts/arial/arial-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/georgia-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia Bold";
  src: url("../fonts/georgia/georgia-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}