* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  text-decoration: none;
  list-style: none;
}

body,
html {
  min-height: 100%;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 30px;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.logo {
  width: 184px;
  height: 60px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.logo h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 2.65px;
  color: #F1CDB3;
}

.logo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 1.2px;
  color: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #FAFAFA;
  transition: all 0.5s ease;
}

.nav-menu a:hover {
  color: #fddcc4;
  ;
}

.nav-menu ul {
  display: flex;
  gap: 35px;
}

.nav-active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}

.start-screen {
  width: 100%;
  height: 908px;
  background: url(../images/noise_lines_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.start-screen-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.start-screen-info {
  width: 41.8%;
  margin-top: 345px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.start-screen-info h2 {
  width: 75%;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
  letter-spacing: 1.6px;
  color: #fff;
}

.start-screen-info p {
  width: 94%;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.start-screen-info a {
  width: 207px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.start-screen-info a:hover {
  background: #fddcc4;
}

.start-screen-pic {
  width: 698px;
  height: 728px;
  background-image: url(../images/start-screen-puppy.png);
  background-repeat: no-repeat;
  margin-top: 180px;
}

.about-wrapper {
  max-width: 1200px;
  height: 568px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 20px;
}

.about-pets {
  width: 300px;
  height: 408px;
  background-image: url(../images/about-pets.png);
}

.about-info {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#about h3,
#our-friends h3,
#help h3 {
  width: 70%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  /* letter-spacing: 0.06em; */
  letter-spacing: 2.65px;
  word-spacing: 5px;
  color: #545454;
}

#our-friends h3 {
  max-width: 30%;
  text-align: center;
}

.about-info p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#our-friends {
  background: #f6f6f6;
}

.our-friends-wrapper {
  min-width: 1200px;
  height: 857px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.our-friends-button {
  width: 261px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.our-friends-button:hover {
  background: #fddcc4;
}

.our-friends-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}

.slider-arrow-left,
.slider-arrow-right {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slider-arrow-left:hover,
.slider-arrow-right:hover {
  border: #fddcc4;
  background: #fddcc4;
}

.slider-wrapper {
  width: 990px;
  display: flex;
  gap: 90px;
  overflow: hidden;
}

.slide {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #fafafa;
  border-radius: 9px;
  padding-bottom: 30px;
}

.slide-img {
  width: 270px;
  height: 270px;
}

.slide h4 {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.72px;
  letter-spacing: 0.06em;
  text-align: center;
}

.slide-button {
  width: 187px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.slide:hover .slide-button {
  border: #fddcc4;
  background: #fddcc4;
}

.help-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#help h3 {
  max-width: 30%;
  text-align: center;
  margin: 80px 0 60px 0;
}

#help h4 {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.ul-help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  margin-bottom: 100px;
}

.help-item {
  width: 101px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}